<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medication List</title>
</head>
<body>
    <div class="container">
        <h1>Medication List</h1>
        <form method="post">
            <label for="patient_id">Enter a patient ID:</label>
            <input type="text" name="patient_id" id="patient_id">
            <input type="submit" value="Get Medication List">
        </form>
        {% if result is not none %}
            <h3>Medication List:</h3>
            <ul>
                {% for entry in result.entry %}
                    <li>{{ entry.resource.medicationCodeableConcept.coding[0].display }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>



<style>
    .container {
        display: grid;
        place-items: center;
    }
</style>


